In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
mov_df = pd.read_csv("Top_10000_Popular_Movies.csv")

mov_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         10000 non-null  int64
 1   id                 10000 non-null  int64
 2   original_language  10000 non-null  object
 3   original_title     10000 non-null  object
 4   popularity         10000 non-null  float64
 5   release_date       9960 non-null   object
 6   vote_average       10000 non-null  float64
 7   vote_count         10000 non-null  int64
 8   genre              10000 non-null  object
dtypes: float64(2), int64(3), object(4)
memory usage: 703.2+ KB

In [3]:
mov_df.drop(columns=["Unnamed: 0"], inplace=True)

In [4]:
mov_df.describe()

                 id    popularity  vote_average    vote_count
count   10000.00000  10000.000000  10000.000000  10000.000000
mean   252337.58590     34.984327      6.300120   1304.033700
std    262027.02199    130.544472      1.463785   2487.256212
min         5.00000      5.840000      0.000000      0.000000
25%     11638.75000     11.772750      5.900000    109.000000
50%    150207.50000     15.972000      6.500000    433.000000
75%    456957.00000     27.480500      7.100000   1282.000000
max    884239.00000   8222.616000     10.000000  30043.000000

In [5]:
mov_df.head()

,id,original_language,original_title,popularity,release_date,vote_average,vote_count,genre
0,580489,en,Venom: Let There Be Carnage,8222.616,2021-09-30,7.0,828,"['Science Fiction', 'Action']"
1,335983,en,Venom,3012.242,2018-09-28,6.8,11846,"['Science Fiction', 'Action']"
2,550988,en,Free Guy,3864.616,2021-08-11,7.8,2908,"['Comedy', 'Action', 'Adventure', 'Science Fic..."
3,772436,es,"Matando Cabos 2, La Máscara del Máscara",2556.789,2021-10-01,7.7,34,"['Action', 'Comedy', 'Adventure']"
4,568620,en,Snake Eyes: G.I. Joe Origins,2164.071,2021-07-22,6.9,685,"['Action', 'Adventure']"

In [6]:
mov_df.tail()

,id,original_language,original_title,popularity,release_date,vote_average,vote_count,genre
9995,34653,en,A Single Man,11.647,2009-10-19,7.3,1209,"['Romance', 'Drama']"
9996,33518,en,Alligator,9.894,1980-07-02,5.8,182,"['Horror', 'Science Fiction', 'Thriller']"
9997,26320,en,Taking Woodstock,9.197,2009-08-26,6.2,321,"['Music', 'Comedy', 'Drama']"
9998,287318,en,3 Scream Queens,7.350,2014-11-25,5.2,5,['Horror']
9999,66664,it,Terminator II,9.624,1989-08-22,4.9,31,"['Action', 'Science Fiction', 'Horror']"

In [7]:
mov_df["original_language"].value_counts().head()

en    7761
ja     594
es     460
fr     298
ko     154
Name: original_language, dtype: int64

In [8]:
mov_df["original_language"].value_counts().tail()

la    1
uk    1
ca    1
bn    1
ku    1
Name: original_language, dtype: int64

In [9]:
mov_df["original_title"].value_counts()

Venom                  5
Les Misérables         3
The Little Mermaid     3
Carrie                 3
Porno                  3
                      ..
All My Life            1
Extraterrestre         1
American Hustle        1
Blood of Redemption    1
Terminator II          1
Name: original_title, Length: 9768, dtype: int64

In [10]:
mov_df["original_title"].value_counts().head()

Venom                 5
Les Misérables        3
The Little Mermaid    3
Carrie                3
Porno                 3
Name: original_title, dtype: int64

In [11]:
mov_df["original_title"].value_counts().tail()

All My Life            1
Extraterrestre         1
American Hustle        1
Blood of Redemption    1
Terminator II          1
Name: original_title, dtype: int64

In [12]:
mov_df["release_date"].value_counts()

2021-10-21    39
2021-10-15    25
2021-10-20    24
2021-10-08    20
2021-10-22    17
              ..
2000-10-17     1
2000-03-02     1
2008-09-30     1
2016-05-19     1
1989-08-22     1
Name: release_date, Length: 5668, dtype: int64

In [13]:
mov_df["release_date"].value_counts().head()

2021-10-21    39
2021-10-15    25
2021-10-20    24
2021-10-08    20
2021-10-22    17
Name: release_date, dtype: int64

In [14]:
mov_df["release_date"].value_counts().tail()

2000-10-17    1
2000-03-02    1
2008-09-30    1
2016-05-19    1
1989-08-22    1
Name: release_date, dtype: int64

In [15]:
mov_df["popularity"].max()

8222.616

In [16]:
mov_df["popularity"].min()

5.84

In [17]:
mov_df["popularity"].mean()

34.9843265

In [18]:
max_id = mov_df["popularity"].idxmax()

mov_df.loc[max_id]

id                                          580489
original_language                               en
original_title         Venom: Let There Be Carnage
popularity                                8222.616
release_date                            2021-09-30
vote_average                                   7.0
vote_count                                     828
genre                ['Science Fiction', 'Action']
Name: 0, dtype: object

In [19]:
min_id = mov_df["popularity"].idxmin()

mov_df.loc[min_id]

id                                 26291
original_language                     en
original_title          Shakes the Clown
popularity                          5.84
release_date                  1991-08-28
vote_average                         5.6
vote_count                            50
genre                ['Comedy', 'Crime']
Name: 9854, dtype: object

In [20]:
mov_df[mov_df["vote_average"] == 10.0].head()

,id,original_language,original_title,popularity,release_date,vote_average,vote_count,genre
505,875828,en,Untitled Peaky Blinders Film,98.046,NaN,10.0,2,[]
4354,584948,es,Eyes of Desire,15.329,1998-09-01,10.0,1,[]
4964,794819,hi,रश्मि रॉकेट,13.048,2021-10-15,10.0,1,['Drama']
5473,882251,en,Silent Hours,15.822,2021-10-07,10.0,1,['Thriller']
6738,856577,ja,ソードアート・オンライン Extra Edition,9.533,2013-12-31,10.0,1,['Animation']

In [21]:
mov_df[mov_df["vote_average"] == 0.0].head()

,id,original_language,original_title,popularity,release_date,vote_average,vote_count,genre
117,585083,en,Hotel Transylvania: Transformania,273.981,2022-01-14,0.0,0,"['Family', 'Animation', 'Fantasy', 'Comedy', '..."
121,634649,en,Spider-Man: No Way Home,273.680,2021-12-15,0.0,0,"['Science Fiction', 'Action', 'Adventure', 'Fa..."
161,385687,en,Fast & Furious 10,194.837,2023-04-06,0.0,0,"['Action', 'Crime']"
172,524434,en,Eternals,292.382,2021-11-03,0.0,0,"['Science Fiction', 'Action', 'Adventure', 'Dr..."
225,763873,en,Under Wraps,255.892,2021-10-30,0.0,0,"['Comedy', 'Family']"

In [22]:
mov_df.corr()

                    id  popularity  vote_average  vote_count
id            1.000000    0.121851     -0.247567   -0.237103
popularity    0.121851    1.000000      0.045352    0.088182
vote_average -0.247567    0.045352      1.000000    0.240653
vote_count   -0.237103    0.088182      0.240653    1.000000

In [23]:
mov_df["genre"].value_counts().head()

['Drama']                 521
['Comedy']                456
['Horror']                264
['Documentary']           228
['Horror', 'Thriller']    218
Name: genre, dtype: int64

In [24]:
mov_df["genre"].value_counts().tail()

['Action', 'Adventure', 'Fantasy', 'TV Movie']                          1
['Animation', 'Family', 'Fantasy', 'Adventure', 'Comedy', 'Romance']    1
['Adventure', 'Horror', 'Comedy']                                       1
['Comedy', 'Adventure', 'Fantasy', 'Animation', 'Family']               1
['Comedy', 'Romance', 'TV Movie', 'Drama']                              1
Name: genre, dtype: int64

In [25]:
mov_df[["genre", "popularity"]].head()

                                               genre  popularity
0                      ['Science Fiction', 'Action']    8222.616
1                      ['Science Fiction', 'Action']    3012.242
2  ['Comedy', 'Action', 'Adventure', 'Science Fic...    3864.616
3                  ['Action', 'Comedy', 'Adventure']    2556.789
4                            ['Action', 'Adventure']    2164.071

In [26]:
mov_df[["genre", "popularity"]].tail()

                                          genre  popularity
9995                       ['Romance', 'Drama']      11.647
9996  ['Horror', 'Science Fiction', 'Thriller']       9.894
9997               ['Music', 'Comedy', 'Drama']       9.197
9998                                 ['Horror']       7.350
9999    ['Action', 'Science Fiction', 'Horror']       9.624

In [27]:
mov_df[["original_title", "vote_count"]]

                               original_title  vote_count
0                 Venom: Let There Be Carnage         828
1                                       Venom       11846
2                                    Free Guy        2908
3     Matando Cabos 2, La Máscara del Máscara          34
4                Snake Eyes: G.I. Joe Origins         685
...                                       ...         ...
9995                             A Single Man        1209
9996                                Alligator         182
9997                         Taking Woodstock         321
9998                          3 Scream Queens           5
9999                            Terminator II          31

[10000 rows x 2 columns]

In [28]:
mov_df["genre"].value_counts().nunique()

65

In [29]:
mov_df["original_title"].value_counts().nunique()

4